/* NOT THE HOMEWORK */
/*I can't change the heading size or get box sizes right*/
/*must resolve merge error*/

:root {
    --background: coral;
    --wire-frame: pink;
    --inside-box: lightblue;
    --text: teal;
}

::selection {
    background-color: var(--text);
    color: var(--inside-box);

}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
}

h1,
h2,
h3 {
    color: var(--text);
    font-weight: 500;
    line-height: 1;
    margin: 0px;
}

h1 {
    font-size: 4 rem;
}

h2 {
    font-size: 3.5 rem;
}

h3 {
    font-size: 3 rem;
}

p {
    margin-bottom: 1rem;
}

header {
    text-align: center;
    width: 95%;
    padding: 2.5 rem;
    margin: 0 auto;
}
code {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid var(--wire-frame);
    border-radius: 8px;
    background-image: linear-gradient(var(--wire-frame), var(--inside-box));
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}
.page-title {
    font-size: 5rem;
    display: relative;
    margin-top: 5px;
    margin-bottom: 50px
}

.intro {
    display: block;
}

.title {
    padding: 1 rem;
    font-size: 4 rem;
}
/* make both size different? */

main {
    margin: 2rem auto;
    width: 95%;
    display: block;
  }

footer {
    text-align: center;
    padding: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*why does this need to be
    specified? Isn't this the default?*/
    /*need to pull other elements closer*/
    /*width: 30%; */
}

.justify-center {
    justify-content: center;
}
/*why does there need to be a separate class for this? */
.column {
  display: flex;
  flex: 1 0 100%;
  padding: 0px;
  /* when the screen resizes, make it so our columns don't jump in size */
  margin-bottom: 20px;
}

.card-code {
    min-height: 80%;
    outline: 3px dashed var(--wire-frame);
    outline-offset: -20px;
    transition: transform 5s;
    margin: 10%;
    padding: 10%;
}
/*added outline to code on card */


.card .title {
    /*position: relative;*/
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--wire-frame);
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(var(--background), var(--wire-frame));
    transition: transform 5s;
}
/*added a text-align center */
.card-code:hover,
.card:hover .title {
    transform: scale(1.1);
}
/*skewed*/
.card .code {
    flex-grow: 1;
}

.card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 10px;
    color: var(--text);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    display: flex;
    align-items: stretch;
  }
  

.card pre:active {
    user-select: all;
  }

  @media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    .column:last-child {
      flex-grow: 1;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }
/* color scheme sourced from http://khroma.co/generator/ */