/* HOMEWORK */
/*add transition, linear gradient,
make all boxes same size, media queries,
fix heading */

:root {
    --background: coral;
    --wire-frame: pink;
    --inside-box: lightblue;
    --text: teal;
}

::selection {
    background-color: var(--text);
    color: var(--inside-box);

}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: var(--background);
    color: var(--text);
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
    color: var(--text);
    font-weight: 500;
    line-height: 1;
}

h1 {
    font-size: 4 rem;
}

h2 {
    font-size: 3.5 rem;
}

h3 {
    font-size: 3 rem;
}

p {
    margin-bottom: 1rem;
}

header {
    text-align: center;
    width: 95%;
    padding: 2.5 rem;
    margin: 0 auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid var(--wire-frame);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(var(--wire-frame), var(--inside-box));
}
header h1.page-title {
    padding: 1 rem;
    font-size: 4.5 rem;
}
/* make both size different? */

main {
    margin: 2rem auto;
    width: 30%;
  }

footer {
    text-align: center;
    padding: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*why does this need to be
    specified? Isn't this the default?*/
    justify-content: center;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    /*need to pull other elements closer*/
}

.justify-center {
    justify-content: center;
}
/*why does there need to be a separate class for this? */
.column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.card-code {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    outline: 2px dashed var(--text);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}


.card .title {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--background);
    color: var(--text);
    border: 2px solid var(--wire-frame);
    border-radius: 8px;
    text-align: center;
    background-image: linear-gradient(var(--background), var(--wire-frame));
    transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .title {
  box-shadow: inset 0px 0px 8px var(--inside-box), 0 0 15px var(--inside-box);
}

.card .code {
    flex-grow: 1;
}

.card pre {
    /* set styles to make it so code wraps in <pre> instead of overflowing */
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1rem;
    color: var(--text);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    display: flex;
    align-items: center;
  }
  

.card pre:active {
    user-select: all;
  }



/* color scheme sourced from http://khroma.co/generator/ */